# Specific directories to ignore
ead/
OPT/
문서/

# Common files to ignore
node_modules/
build/
.DS_Store
.env

# Ignore .pem files
*.pem

# Additional sensitive files you might want to ignore
.env.local
