services:
  # docker-compose.yml
  backend-api:
    build:
      context: .                        # ← 루트 전체를 컨텍스트로
      dockerfile: backend_api/Dockerfile # ← Dockerfile 위치 지정
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - TEMPLATE_PDF=/app/backend_api/templates/Form.pdf
    volumes:
      - ./submission-app/public/assets/Form.pdf:/app/backend_api/templates/Form.pdf:ro
    
  submission-app:
    build: ./submission-app  
    ports:
      - "3001:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:8000
      
  dashboard-app:
    build: ./dashboard-app
    ports:
      - "3002:3000" 
    environment:
      - REACT_APP_API_URL=http://localhost:8000


