services:
  backend-api:
    build: 
      context: .
      dockerfile: backend_api/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    
  submission-app:
    build: ./submission-app  
    ports:
      - "3001:3000"
    environment:
      - REACT_APP_API_URL=http://52.91.22.196:8000
      
  dashboard-app:
    build: ./dashboard-app
    ports:
      - "3002:3000" 
    environment:
      - REACT_APP_API_URL=http://52.91.22.196:8000


